---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<div class="home">
    This is a personal blog. I usually write about GNU Emacs and computer programming in general.
    <hr/>
    These are my latest posts. You can subscribe to the <a href="https://manuel-uberti.github.io/feed">RSS feed</a>.
    {% if posts_count > 0 %}
    <div class="posts">
        {% for post in paginator.posts %}
        <div class="post py3">
            <p class="post-meta">{{ post.date | date: site.date_format }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
            <p class="post-summary">
                {% if post.summary %}
                {{ post.summary | markdownify }}
                {% else %}
                {{ post.excerpt | markdownify }}
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>

    {% include pagination.html %}
    {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
    {% endif %}
</div>
