@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson-roman-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson-italic-webfont.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson-bold-webfont.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson-bolditalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson-semibold-webfont.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Crimson';
  src: url('fonts/crimson-semibolditalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.otf.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-It.otf.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.otf.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-BoldIt.otf.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Regular.otf.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Bold.otf.woff') format('woff');
  font-weight: 700;
}
