html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

@mixin hyphens($setting) {
  hyphens: $setting;
  // scss-lint:disable VendorPrefix
  -webkit-hyphens: $setting;
  -moz-hyphens: $setting;
  -ms-hyphens: $setting;
  -o-hyphens: $setting;
}

p {
  @include hyphens(auto);
  color: #333;
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
